body{
    background: rgb(107, 149, 239);
    font: normal 15px arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(45, 45, 46);
}

div{
    text-align: center;
    padding: 8px;
}
img#imagem{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
footer{
    color: white;
    font-style: italic;
    text-align: center;

}